<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="takeMeBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Búsqueda en iTunes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar animated="true" [(ngModel)]="termino" (search)="buscar($event)" placeholder="Introduce canción ...">
  </ion-searchbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
      <ion-segment-button value="cards">
        CARDS
      </ion-segment-button>
      <ion-segment-button value="cubos">
        CUBOS
      </ion-segment-button>
      <ion-segment-button value="desliz">
        DESLIZ
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-slides #mySlider (ionSlideDidChange)="cambioSlide(slide)">
    <ion-slide *ngFor="let slide of slides">
      <div *ngIf="(selectedSegment=='cubos')">
        
        <div *ngIf="lista_canciones">
          <ion-slides effect="cube" pager="true" paginationType="fraction" loop="true" slidesPerView="1" style="background-color:aqua">
            <ion-slide *ngFor="let cancion of lista_canciones">
              <h3>{{cancion.artistName}}</h3>
              <h3>{{cancion.trackName}} </h3>
              <img data-src="{{cancion.artworkUrl100}}">
              <button ion-button color="light"(click)="favorito(cancion)" > <!--(click)="playMuestra({{cancion.previewUrl}})"-->
                <ion-icon [name]="cancion.estadofav"></ion-icon>
                Favorito
              </button>
              <audio src="{{cancion.previewUrl}}" controls="true"></audio>
            </ion-slide>
          </ion-slides>
        </div>
      </div>
      <div *ngIf="(selectedSegment=='desliz')">
        <div *ngIf="lista_canciones">
          <ion-list class="list-avatar-page">
              <ion-item-sliding *ngFor="let cancion of lista_canciones; let indice = index" >
                <ion-item>
                  <ion-avatar item-start>
                      <img src="{{cancion.artworkUrl100}}">
                  </ion-avatar>
                  <h2>{{cancion.trackName}}</h2>
                  <h3>{{cancion.artistName}}</h3> 
                  <audio hidden controls id="{{cancion.trackId}}">
                    <source src={{cancion.previewUrl}} type="audio/mpeg">
                  </audio>  
                  <!--<ion-note item-end>{{cancion.trackPrice}}{{cancion.currency}}</ion-note>-->
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="primary" (click)="playMuestra(cancion)"> <!--(click)="playMuestra({{cancion.previewUrl}})"-->
                      <ion-icon [name]="cancion.estado"></ion-icon>
                      Muestra
                    </button>
                    <button ion-button color="light"(click)="favorito(cancion)" > <!--(click)="playMuestra({{cancion.previewUrl}})"-->
                      <ion-icon [name]="cancion.estadofav"></ion-icon>
                      Favorito
                    </button>
                </ion-item-options>
              </ion-item-sliding>
          </ion-list>
      </div>
      </div>
      <div *ngIf="(selectedSegment=='cards')">
        <div *ngIf="lista_canciones">
            <div *ngFor="let cancion of lista_canciones">
                <hr>
                <ion-card>
                  <img src="{{cancion.artworkUrl100}}" alt="Portada" width="100px">
                  <button ion-button color="light"(click)="favorito(cancion)" > <!--(click)="playMuestra({{cancion.previewUrl}})"-->
                    <ion-icon [name]="cancion.estadofav"></ion-icon>
                    Favorito
                  </button>
                  <ion-card-content>
                    <ion-card-title>
                      {{cancion.artistName}} - {{cancion.trackName}}
                    </ion-card-title>
                    <p>
                      <audio src="{{cancion.previewUrl}}" controls></audio> <br>
                    </p>
                  </ion-card-content>
                 </ion-card>
            </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>